body {
    background: grey;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

button {
    color: blue;
    font-size: 40px;
}

#container {
    margin: 1em 0 1em 0;
    text-align: center;
    font-size: 30px;
}